<h1>truffe#index</h1>

<div id="gallery">
  <div id="slides">
    <div class="slide a"></div>
    <div class="slide b"></div>
    <div class="slide c"></div>
    <div class="slide d"></div>
  </div>
  <ul id="menu">
    <li class="menuitem"></li>
    <li class="menuitem"></li>
    <li class="menuitem"></li>
    <li class="menuitem"></li>
  </ul>
  <h1 class="title show">truffe#index</h1>
</div>

<div id="records">
  <% unless @discographies.blank? %>
    <% @discographies.each do |disc| %>
      <div class="disc">
        <% if disc.updated_at && disc.updated_at >= Date.today.advance(:months => -1) %>
          <h2>New Album</h2>
        <% else %>
          <h2>Now on Sale</h2>
        <% end %>

        <% if disc.url %>
          <div class="disc_image"><%= link_to image_tag('discographies/disc_' + disc.id.to_s + '.jpg', :size => '140x140'), disc.url, :target => '_blank' %></div>
        <% else %>
          <div class="disc_image"><%= image_tag('discographies/disc_' + disc.id.to_s + '.jpg', :size => '140x140') %></div>
        <% end %>

        <div class="disc_detail">
          <% if disc.title && disc.artist %>
            <% if disc.url %>
              <div class="title"><%= link_to disc.title + ' / ' + disc.artist, disc.url, :target => '_blank' %></div>
            <% else %>
              <div class="title"><%= disc.title %>/<%= disc.artist %></div>
            <% end %>
          <% end %>
          <% if disc.updated_at && disc.updated_at >= Date.today.advance(:months => -1) %>
            <div class="new">new</div>
          <% end %>
          <div class="release_date">発売日:<%= disc.release_date %></div>
          <% if disc.players %>
            <div class="players">players:<%= disc.players %></div>
          <% end %>
          <% if disc.record_co %>
            <div class="record_co">record_company:<%= disc.record_co %></div>
          <% end %>
          <% if disc.comment %>
            <div class="comments">comments:<%= disc.comment %></div>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<div id="news">
  <h2>News</h2>
  <ul>
    <li><p>2012.08.08</p><p>Webサイトがオープンしました。</p></li>
  </ul>
</div>
