<h2>index#Photos</h2>

<% unless @photos.blank? %>
  <% @photos.each do |photo| %>
    <div><% if photo.photo_date %><%= photo.photo_date %><% end %></div>
		<div><% if photo.file_no %><%= image_tag('img_#{photo.file_no}.jpg', :size => '320x198', :alt => 'truffe_photos') %><% end %></div>
    <div><% if photo.album_no %>album:<%= photo.album_no %><% end %></div>
    <div><% if photo.title %>title:<%= photo.title %><% end %></div>
    <div><% if photo.comment %>comment:<%= photo.comment %><% end %></div>
  <% end %>
<% end %>
