<!DOCTYPE html>
<html>
<head>
  <title><% if @page_title %><%= h(@page_title) %> | <% end %>Truffe</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="wrapper" class="l">
  <header>
    <h1 id="title"><%#= link_to 'Truffe', root_path %></h1>
    <%= render :partial => 'shared/nav' %>
  </header>

  <div id="container">
    <%= yield %>
  </div>

  <footer>
    <%= link_to 'goto login#index', login_index_path %>
  </footer>
</div>

</body>
</html>
