<!DOCTYPE html>
<html>
<head>
  <title><% if @page_title %><%= h(@page_title) %> | <% end %>Truffe</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="wrapper" class="l">
  <header>
    <div><h1 id="title"><%= link_to 'Cafe Brown*', root_path %></h1></div>
    <%= render :partial => 'shared/nav' %>
  </header>

  <div id="container">
    <% if flash[:notice] %>
      <p class="notice"><%= flash[:notice] %></p>
    <% end %>
    <% if flash[:error] %>
      <p class="error"><%= flash[:error] %></p>
    <% end %>
    <%= yield %>
  </div>

  <footer>
    <div id="open_login"><%= link_to '★管理者ログイン★', login_index_path %></div>
  </footer>
</div>

</body>
</html>
