<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="description" content="Jazz Bassist Otsuka Yoshimasa's Website">
  <meta name="keywords" content="yoshimasa otsuka bass jazz">
  <meta name="viewport" content="width=device-width, initial-scale=0.4, maximum-scale=1, user-scalable=no">
  <title><%= title %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="wrapper" class="l">
  <header>
    <%= render :partial => 'shared/nav' %>
  </header>

  <div id="container">
    <% if flash[:notice] %>
      <p class="notice"><%= flash[:notice] %></p>
    <% end %>
    <% if flash[:error] %>
      <p class="error"><%= flash[:error] %></p>
    <% end %>
    <% if @page_title %>
      <h1 class="page_title"><%= h(@page_title) %></h1>
    <% end %>
    <%= yield %>
    <div class="page_footer"></div>
  </div>

  <footer>
    <div id="open_login"><%= link_to '★管理者ログイン★', login_index_path %></div>
  </footer>
</div>

</body>
</html>
